@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap'); */

.hero {
  background-image: linear-gradient(180deg, #001826 0%, rgba(0, 37, 49, 0) 100%),
    url('/heroBgMob.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.customHeroButtonBorder::before {
  content: '';
  background-image: url('/btnFrameMob.svg');
  position: absolute;
  top: 0;
  left: 0;
  width: 42px;
  height: 100%;
}

.customHeroButtonBorder::after {
  content: '';
  background-image: url('/btnFrameMob.svg');
  position: absolute;
  top: 0;
  right: 0;
  width: 42px;
  height: 100%;
  transform: rotateY(180deg);
}

.about {
  background-image: linear-gradient(180deg, #001826 0%, rgba(0, 37, 49, 0) 100%),
    url('/aboutBgMob.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.servicesBg1 {
  background-image: linear-gradient(rgba(2, 15, 8, 0.75), rgba(2, 15, 8, 0.75)),
    url('/servicesBgMob1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.servicesBg2 {
  background-image: linear-gradient(rgba(2, 15, 8, 0.75), rgba(2, 15, 8, 0.75)),
    url('/servicesBgMob2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.servicesBg3 {
  background-image: linear-gradient(rgba(2, 15, 8, 0.75), rgba(2, 15, 8, 0.75)),
    url('/servicesBgMob3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.servicesBg4 {
  background-image: linear-gradient(rgba(2, 15, 8, 0.75), rgba(2, 15, 8, 0.75)),
    url('/servicesBgMob4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.servicesBg5 {
  background-image: linear-gradient(rgba(2, 15, 8, 0.75), rgba(2, 15, 8, 0.75)),
    url('/servicesBgMob5.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.activeService {
  display: flex;
  align-items: center;
  opacity: 1;
  font-weight: 500;
}

.activeService::before {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  background-color: #fff;
  margin-right: 8px;
  transform: rotate(45deg);
}

.career {
  background-image: linear-gradient(rgba(2, 15, 8, 0.75), rgba(2, 15, 8, 0.75)),
    url('/careerBgMob.jpg');

  background-repeat: repeat-y;
  background-size: 103%;
}
.checkboxFrame::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;
  border: 3px solid black;
}

.gallery {
  background-image: linear-gradient(rgba(2, 15, 8, 0.75), rgba(2, 15, 8, 0.75)),
    url('/galleryBgMob.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer {
  background-image: linear-gradient(rgba(2, 15, 8, 0.75), rgba(2, 15, 8, 0.75)),
    url('/footerBgMob.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.scroll-to-top.scrollUp {
  bottom: 20px;
  right: 20px;
  background-color: rgba(2, 15, 8, 0.75);
  box-shadow: none !important;
}

@media screen and (max-width: 767px) {
  .swiperStyles {
    display: none !important;
  }
}

@media screen and (min-width: 480px) {
  .hero {
    background-image: linear-gradient(
        180deg,
        #001826 0%,
        rgba(0, 37, 49, 0) 100%
      ),
      url('/heroBgMob480.jpg');
  }

  .about {
    background-image: linear-gradient(
        180deg,
        #001826 0%,
        rgba(0, 37, 49, 0) 100%
      ),
      url('/aboutBgMob480.jpg');
  }

  .career {
    background-image: linear-gradient(
        rgba(2, 15, 8, 0.75),
        rgba(2, 15, 8, 0.75)
      ),
      url('/careerBgMob480.jpg');
    background-size: 100% 50%;
  }
  .scroll-to-top.scrollUp {
    right: calc((100% - 480px) / 2 + 20px);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        180deg,
        #001826 0%,
        rgba(0, 37, 49, 0) 100%
      ),
      url('/heroBgTab.jpg');
  }
  .about {
    background-image: url('/aboutBgTab.jpg');
  }

  .servicesBg1 {
    background-image: linear-gradient(
        rgba(2, 15, 8, 0.75),
        rgba(2, 15, 8, 0.75)
      ),
      url('/servicesBgTab1.jpg');
  }
  .servicesBg2 {
    background-image: linear-gradient(
        rgba(2, 15, 8, 0.75),
        rgba(2, 15, 8, 0.75)
      ),
      url('/servicesBgTab2.jpg');
  }
  .servicesBg3 {
    background-image: linear-gradient(
        rgba(2, 15, 8, 0.75),
        rgba(2, 15, 8, 0.75)
      ),
      url('/servicesBgTab3.jpg');
  }
  .servicesBg4 {
    background-image: linear-gradient(
        rgba(2, 15, 8, 0.75),
        rgba(2, 15, 8, 0.75)
      ),
      url('/servicesBgTab4.jpg');
  }
  .servicesBg5 {
    background-image: linear-gradient(
        rgba(2, 15, 8, 0.75),
        rgba(2, 15, 8, 0.75)
      ),
      url('/servicesBgTab5.jpg');
  }

  .career {
    background-image: linear-gradient(
        rgba(2, 15, 8, 0.75),
        rgba(2, 15, 8, 0.75)
      ),
      url('/careerBgTab.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .error::before {
    content: '';
    background-image: url('/cross.svg');
    display: inline-block;
    height: 18px;
    width: 18px;
    margin-right: 4px;
  }

  .gallery {
    background-image: linear-gradient(
        rgba(2, 15, 8, 0.75),
        rgba(2, 15, 8, 0.75)
      ),
      url('/galleryBgTab.jpg');
  }

  .galleryLayer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: linear-gradient(
      rgba(2, 15, 8, 0.75),
      rgba(2, 15, 8, 0.75)
    );
    z-index: 2;
  }

  .footer {
    background-image: linear-gradient(
        rgba(2, 15, 8, 0.75),
        rgba(2, 15, 8, 0.75)
      ),
      url('/footerBgTab.jpg');
  }
  .scroll-to-top.scrollUp {
    right: calc((100% - 768px) / 2 + 20px);
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      url('/heroBgDesk.jpg');
  }

  .customHeroButtonBorder::before {
    background-image: url('/btnFrameDesk.svg');
  }

  .customHeroButtonBorder::after {
    background-image: url('/btnFrameDesk.svg');
  }

  .about {
    background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      url('/aboutBgDesk.jpg');
  }

  .servicesBg1 {
    background-image: linear-gradient(
        rgba(2, 15, 8, 0.75),
        rgba(2, 15, 8, 0.75)
      ),
      url('/servicesBgDesk1.jpg');
  }
  .servicesBg2 {
    background-image: linear-gradient(
        rgba(2, 15, 8, 0.75),
        rgba(2, 15, 8, 0.75)
      ),
      url('/servicesBgDesk2.jpg');
  }
  .servicesBg3 {
    background-image: linear-gradient(
        rgba(2, 15, 8, 0.75),
        rgba(2, 15, 8, 0.75)
      ),
      url('/servicesBgDesk3.jpg');
  }
  .servicesBg4 {
    background-image: linear-gradient(
        rgba(2, 15, 8, 0.75),
        rgba(2, 15, 8, 0.75)
      ),
      url('/servicesBgDesk4.jpg');
  }
  .servicesBg5 {
    background-image: linear-gradient(
        rgba(2, 15, 8, 0.75),
        rgba(2, 15, 8, 0.75)
      ),
      url('/servicesBgDesk5.jpg');
  }

  .career {
    background-image: linear-gradient(
        rgba(2, 15, 8, 0.75),
        rgba(2, 15, 8, 0.75)
      ),
      url('/careerBgDesk.jpg');
  }

  .gallery {
    background-image: linear-gradient(
        rgba(2, 15, 8, 0.75),
        rgba(2, 15, 8, 0.75)
      ),
      url('/galleryBgDesk.jpg');
  }
  .footer {
    background-image: linear-gradient(
        rgba(2, 15, 8, 0.75),
        rgba(2, 15, 8, 0.75)
      ),
      url('/footerBgDesk.jpg');
  }
  .scroll-to-top.scrollUp {
    right: calc((100% - 1440px) / 2 + 20px);
  }
}

@layer components {
  .headerNavLink {
    @apply cursor-pointer py-px no-underline border-1 border-transparent text-sm font-normal tracking-1.4 hover:border-b-white transition-colors duration-300;
  }
  .heroTitle {
    @apply uppercase text-40 font-thin leading-snug -tracking-1.6 tablet:text-67 tablet:leading-normal tablet:-tracking-2.68 desktop:text-98 desktop:leading-tight desktop:-tracking-3.92;
  }
  .heroMessage {
    @apply text-right uppercase text-xs font-light leading-normal tracking-9.48 tablet:text-sm tablet:tracking-25.9 desktop:text-base desktop:leading-normal desktop:tracking-36.48;
  }
  .heroPlaceList {
    @apply opacity-80 text-10 font-extralight leading-4 tablet:text-sm tablet:leading-4 tablet:tracking-1.26 desktop:text-base desktop:leading-normal desktop:tracking-1.44;
  }
  .aboutInfo {
    @apply opacity-70 text-sm text-right font-extralight leading-5 -tracking-0.14 tablet:text-base tablet:leading-tight tablet:tracking-0.32 desktop:text-lg desktop:leading-snug desktop:tracking-2.11;
  }
  .aboutInfoStrong {
    @apply uppercase text-sm font-normal leading-5 tablet:text-base tablet:leading-tight desktop:text-lg desktop:leading-snug;
  }
  .servicesInfoText {
    @apply text-43 font-thin leading-normal text-right tablet:text-67 tablet:leading-tight desktop:text-98 desktop:leading-normal;
  }
  .servicesCallText {
    @apply opacity-50 text-right text-xs font-extralight leading-6 tracking-2.4 tablet:text-left;
  }
  .servicesButtonText {
    @apply opacity-50 uppercase text-left text-xl font-extralight leading-0.85 hover:opacity-100 transition-opacity duration-300 tablet:text-22 desktop:text-28 desktop:leading-6;
  }
  .careerSubTitle {
    @apply uppercase text-3xl font-extralight leading-normal tablet:text-3xl desktop:text-4xl desktop:leading-1.08;
  }
  .careerAdvantageName {
    @apply text-sm tablet:text-base tablet:leading-5 desktop:text-lg desktop:leading-6;
  }
  .footerSocialLink {
    @apply inline-block text-sm leading-6 border-1 border-transparent hover:border-b-white transition-colors duration-300 tablet:text-base desktop:text-lg desktop:leading-6;
  }
  .mobileMenuLink {
    @apply text-lg leading-normal tracking-1.67 border-1 border-transparent hover:border-b-white transition-colors duration-300;
  }
}

.responsive {
  @apply md:max-w-480 ml-auto mr-auto tablet:max-w-screen-tablet desktop:max-w-screen-desktop;
}

@layer components {
  .section {
    @apply py-14 tablet:py-16 desktop:py-104px;
  }
  .sectionTitle {
    @apply uppercase text-40 font-thin leading-snug -tracking-1.6 tablet:text-67 tablet:-tracking-2.68 desktop:text-98 desktop:-tracking-3.92;
  }
  .strongText {
    @apply opacity-90 text-sm font-extralight leading-5 tablet:text-base tablet:leading-tight desktop:text-lg desktop:leading-snug;
  }
  .simpleText {
    @apply opacity-80 text-justify text-sm font-extralight leading-5 tablet:text-base tablet:leading-tight desktop:text-lg desktop:leading-snug;
  }

  .secondaryText {
    @apply opacity-80 text-sm font-extralight tablet:text-13 tablet:leading-5 desktop:text-lg desktop:leading-6;
  }
  .formInputText {
    @apply text-13 font-extralight leading-6 desktop:text-xl desktop:leading-6 placeholder:opacity-20;
  }
  .formButton {
    @apply uppercase text-3xl font-normal leading-normal hover:text-mainBtnBgHover transition-colors duration-300 desktop:text-32;
  }
  .centeredMobileMenu {
    @apply fixed w-full h-full top-0 left-1/2 -translate-x-1/2 z-10;
  }
  .error {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
  }
}

.servicesSlide {
  @apply h-full w-full;
}
.gallerySlide {
  width: auto !important;
}

.swiper-slide.gallerySlide::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: linear-gradient(rgba(2, 15, 8, 0.75), rgba(2, 15, 8, 0.75));
  z-index: 1;
}

.swiper-slide-active.gallerySlide::before {
  background-image: none;
}

.callPosition1 {
  @apply desktop:top-0;
}
.callPosition2 {
  @apply desktop:top-[50px];
}
.callPosition3 {
  @apply desktop:top-[100px];
}
.callPosition4 {
  @apply desktop:top-[175px];
}
.callPosition5 {
  @apply desktop:top-[225px];
}
